<div *ngIf="isLoaded">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <app-search-bar></app-search-bar>
      </div>
      <div class="col-1">
        <app-download-button></app-download-button>
      </div>
      <div class="col-1">
        <app-save-button></app-save-button>
      </div>


    </div>
    <div class="row"> <!-- Contenedor centrado vertical y horizontalmente -->
      <div class=""> <!-- Colocar la barra de búsqueda en una columna -->
        <table class="custom-table col-md-12">
          <thead>
          <tr class="custom-header-row custom-first-row">
            <th class="custom-header-cell">{{ this.constants.ATTRIBUTE_TYPE | uppercase }}</th>
            <th class="custom-header-cell">{{ this.constants.VALUE | uppercase }}</th>
          </tr>
          </thead>
          <tbody>
          <!-- Resto de filas -->
          <tr *ngFor="let item of tableData" class="custom-row">
            <td class="custom-cell attribute-cell">{{ item.attribute }}</td>
            <td class="custom-cell">{{ item.value }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="table-container">
      <google-map [center]="this.fingerprint.mapCenter">
        <map-marker [position]="this.fingerprint.mapCenter">
        </map-marker>
      </google-map>
    </div>


  </div>

</div>
