.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto; /* Centro la tabla */
}

.custom-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Para ocultar el desbordamiento de las celdas */
  border: 1px solid rgba(0, 0, 0, 0.12); /* Borde similar a un Mat Card */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2); /* Sombra similar a un Mat Card */
}

.custom-first-cell {
  font-weight: bold; /* Estilo de fuente más destacado para la primera fila */
}

.custom-first-row {
  font-size: 16px;
  height: 60px;
}

.custom-header-cell {
  font-weight: bold;
  background-color: #e0e0e0; /* Color de fondo para las celdas de encabezado */
  padding-right: 120px; /* Añade espacio de relleno para mejorar la legibilidad */

}

.custom-header-row, .custom-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.custom-row:nth-child(odd) {
  background-color: #f9f9f9; /* Cambia el color de fondo de las filas impares */
}

.custom-cell {
  padding: 10px; /* Añade espacio de relleno para mejorar la legibilidad */
}

.custom-table {
  /* Otros estilos... */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cambia el tipo de letra */
  margin-bottom: 20px;
}

.custom-row {
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave de color de fondo y sombra */
}

.custom-row:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
}

.no-results-message {
  text-align: center; /* Centra el texto */
  //font-style: italic;
  font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #808080; /* Cambia el color a un tono más oscuro de gris */
}
.map-container {
  width: 500px; /* Ajusta el ancho del mapa */
  height: 500px; /* Ajusta la altura del mapa */
  border-radius: 10px; /* Agrega bordes redondeados al mapa */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del mapa */
  margin-bottom: 20px;
}
