<div *ngIf="isLoaded">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <app-search-bar ngDefaultControl
          [(ngModel)]="searchText"
          (input)="filterData(this.tableData)"
        ></app-search-bar>
      </div>
      <div class="col-md-1 mb-3">
        <app-download-button></app-download-button>
      </div>
      <div class="col-md-1 mb-3">
        <app-save-button
          (saveData)="postFingerprintData(tableDataFormatted)"
        ></app-save-button>
      </div>


    </div>
    <div class="row"> <!-- Contenedor centrado vertical y horizontalmente -->
      <div class=""> <!-- Colocar la barra de búsqueda en una columna -->
        <table class="custom-table col-md-12">
          <thead>
          <tr class="custom-header-row custom-first-row">
            <th class="custom-header-cell">{{ this.constants.ATTRIBUTE_TYPE | uppercase }}</th>
            <th class="custom-header-cell">{{ this.constants.VALUE | uppercase }}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="filteredData.length === 0">
            <tr>
              <td colspan="2" class="no-results-message">No se han encontrado resultados</td>
            </tr>
          </ng-container>
          <!-- Resto de filas -->
          <tr *ngFor="let item of filteredData" class="custom-row">
            <td class="custom-cell attribute-cell">{{ item.attribute }}</td>
            <td class="custom-cell">{{ item.value }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="map-container">
      <google-map
        [center]="this.fingerprint.mapCenter">
        <map-marker
          [position]="this.fingerprint.mapCenter">
        </map-marker>
      </google-map>
    </div>


  </div>

</div>
