
<mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-6">
  <ng-container matColumnDef="Attribute Type">
    <mat-header-cell *matHeaderCellDef>{{this.constants.ATTRIBUTE_TYPE}}</mat-header-cell>
    <mat-cell *matCellDef="let fingerprint">{{this.constants.USER_AGENT}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Value">
    <mat-header-cell *matHeaderCellDef>{{this.constants.VALUE}}</mat-header-cell>
    <mat-cell *matCellDef="let fingerprint">{{this.fingerprint.userAgent}}</mat-cell>
  </ng-container>
  <ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let columns; columns: displayedColumns"></mat-row>
  </ng-container>
</mat-table>



<!--<mat-card class="col-4">
  <mat-card-content>
    <tr>
      <b>{{this.constants.PLATFORM_TYPE}}</b>
      {{this.fingerprint.platformType}}
    </tr>
    <hr>
    <tr>
      <b>{{this.constants.PLATFORM_TYPE}}</b>
      {{this.fingerprint.platformType}}
    </tr>
  </mat-card-content>
</mat-card>-->

<!--
<div class="row">
  <div class="col-4">
    <h3>Navegador</h3>
    <p>{{_fingerprintService.navigatorType}}</p>
  </div>
  <div class="col-4">
    <h3>Zona Horaria</h3>
    <p>{{_fingerprintService.timeZone}}</p>
  </div>
  <div class="col-4">
    <h3>Calendario</h3>
    <p>{{_fingerprintService.calendar}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <h3>Local</h3>
    <p>{{_fingerprintService.locale}}</p>
  </div>
  <div class="col-4">
    <h3>Sistema numérico</h3>
    <p>{{_fingerprintService.numberingSystem}}</p>
  </div>
  <div class="col-4">
    <h3>User Agent</h3>
    <p>{{_fingerprintService.userAgent}}</p>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <p><h3>Platform Type</h3>
    <p>{{_fingerprintService.platformType}}</p>
  </div>
</div>


-->
