@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
  margin: 16px;
}

.mat-table {
  border-radius: 10px;
  overflow:hidden !important;
}

/* Cambiar el tamaño de la fuente y hacerla negrita para los encabezados de tabla */
.mat-header-cell-custom {
  font-size: 16px; /* Tamaño de fuente personalizado */
  font-weight: bold; /* Hacer el texto en negrita */
  color: black;
  background-color: #e0e0e0; /* Cambia el color de fondo de las celdas de encabezado según tus preferencias */
}

.table-container {
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente (opcional) */
  /*height: 100vh; /* Ajusta la altura para ocupar toda la ventana */
  width: 100%;
}

.table-container-button{
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente (opcional) */
  /*height: 100vh; /* Ajusta la altura para ocupar toda la ventana */
}
.mat-row:nth-child(odd) {
  background-color: #f9f9f9; /* Cambia el color de fondo de las filas impares según tus preferencias */
}
.mat-table {
  background-color: white; /* Cambia el color de fondo de la tabla según tus preferencias */
  border-radius: 10px; /* Agrega bordes redondeados a la tabla */
  overflow: hidden; /* Oculta cualquier contenido que se desborde de la tabla */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la tabla */
}

.mat-elevation-z8 {
  max-width: 60%; /* Ajusta el ancho máximo de la tabla según tus preferencias */
}
.mat-icon {
  color: rgb(128, 128, 128);
}
/* Estilos para el tooltip */
.custom-tooltip-icon {
  background-color: white !important;
  color: black !important; /* Texto negro */
  /*border: 1px solid black;*/
  font-size: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Sombreado similar al de mat-elevation-z8 */
  /*border: 1px solid #ccc; !* Borde gris *!*/
  border-radius: 4px; /* Bordes redondeados */
}

/*button {*/
/*  margin-right: 10px; !* Agrega margen derecho para separar el botón de la tabla *!*/
/*}*/


.custom-button {
  background-color: #007bff; /* Color de fondo */
  /*margin-left: 10px;*/
  color: white; /* Color del texto */
  border-radius: 8px; /* Bordes redondeados */
  /*padding: 8px 16px; !* Espacio interno *!*/
  font-size: 14px; /* Tamaño del texto */
  cursor: pointer; /* Cambio de cursor al pasar sobre él */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color de fondo */
}

.custom-button:hover {
  background-color: #0056b3; /* Cambio de color de fondo al pasar el cursor */
}

