@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
  margin: 16px;
}

.mat-table {
  border-radius: 10px;
  overflow:hidden !important;
}

/* Cambiar el tamaño de la fuente y hacerla negrita para los encabezados de tabla */
.mat-header-cell-custom {
  font-size: 16px; /* Tamaño de fuente personalizado */
  font-weight: bold; /* Hacer el texto en negrita */
  color: black;
}
.table-container {
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente (opcional) */
  /*height: 100vh; /* Ajusta la altura para ocupar toda la ventana */
}
.mat-elevation-z8 {
  max-width: 60%; /* Ajusta el ancho máximo de la tabla según tus preferencias */
}
.mat-icon {
  color: rgb(128, 128, 128);
}
/* Estilos para el tooltip */
.custom-tooltip-icon {
  background-color: white !important;
  color: black !important; /* Texto negro */
  /*border: 1px solid black;*/
  font-size: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Sombreado similar al de mat-elevation-z8 */
  /*border: 1px solid #ccc; !* Borde gris *!*/
  border-radius: 4px; /* Bordes redondeados */
}




